<div th:replace="~{layout/header :: header}"></div>
<div class="sheetSlider sh--default">
    <input id="s1" type="radio" name="slide1" checked>
    <input id="s2" type="radio" name="slide1" checked>
    <input id="s3" type="radio" name="slide1" checked>
    <input id="s4" type="radio" name="slide1" checked>
    <input id="s5" type="radio" name="slide1" checked>
    <input id="s6" type="radio" name="slide1" checked>
    <input id="s7" type="radio" name="slide1" checked>
    <input id="s8" type="radio" name="slide1" checked>
    <input id="s9" type="radio" name="slide1" checked>
    <input id="s10" type="radio" name="slide1" checked>

    <div class="sh__content">

        <div class="sh__item">
            <img src="/images/image/Spring-web.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>
                    Encuesta #1
                </h4>
                <span>
                    <a th:href="@{https://www.udemy.com/course/curso-de-java-web-mvc/?couponCode=PDHN03}">Introduccion</a>
                </span>
            </div>
        </div>

        <div class="sh__item">
            <img src="/images/image/Android.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>
                    Encuesta #2
                </h4>
                <span>
                    <a th:href="@{https://www.udemy.com/course/curso-de-java-web-mvc/?couponCode=PDHN03}">Introduccion 2</a>
                </span>
            </div>
        </div>

        <div class="sh__item">
            <img src="/images/image/ASP-NET-Core.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>
                    Encuesta #3
                </h4>
                <span>
                    <a th:href="@{https://www.udemy.com/course/curso-de-java-web-mvc/?couponCode=PDHN03}">Introduccion 3</a>
                </span>
            </div>
        </div>

        <div class="sh__item">
            <img src="/images/image/C-8.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>
                    Encuesta #4
                </h4>
                <span>
                    <a th:href="@{https://www.udemy.com/course/curso-de-java-web-mvc/?couponCode=PDHN03}">Introduccion 4</a>
                </span>
            </div>
        </div>

        <div class="sh__item">
            <img src="/images/image/Dart-and-Flutter.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>
                    Encuesta #5
                </h4>
                <span>
                    <a th:href="@{https://www.udemy.com/course/curso-de-java-web-mvc/?couponCode=PDHN03}">Introduccion 5</a>
                </span>
            </div>
        </div>

        <div class="sh__item">
            <img src="/images/image/Kotlin.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>
                    Encuesta #6
                </h4>
                <span>
                    <a th:href="@{https://www.udemy.com/course/curso-de-java-web-mvc/?couponCode=PDHN03}">Introduccion 6</a>
                </span>
            </div>
        </div>

        <div class="sh__item">
            <img src="/images/image/Python.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>
                    Encuesta #7
                </h4>
                <span>
                    <a th:href="@{https://www.udemy.com/course/curso-de-java-web-mvc/?couponCode=PDHN03}">Introduccion 7</a>
                </span>
            </div>
        </div>

        <div class="sh__item">
            <img src="/images/image/System java.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>
                    Encuesta #8
                </h4>
                <span>
                    <a th:href="@{https://www.udemy.com/course/curso-de-java-web-mvc/?couponCode=PDHN03}">Introduccion 8</a>
                </span>
            </div>
        </div>

        <div class="sh__item">
            <img src="/images/image/Systema-C.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>
                    Encuesta #9
                </h4>
                <span>
                    <a th:href="@{https://www.udemy.com/course/curso-de-java-web-mvc/?couponCode=PDHN03}">Introduccion 9</a>
                </span>
            </div>
        </div>

        <div class="sh__item">
            <img src="/images/image/UWP.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>
                    Encuesta #10
                </h4>
                <span>
                    <a th:href="@{https://www.udemy.com/course/curso-de-java-web-mvc/?couponCode=PDHN03}">Introduccion 10</a>
                </span>
            </div>
        </div>
    </div>

    <div class="sh__btns">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
        <label for="s6"></label>
        <label for="s7"></label>
        <label for="s8"></label>
        <label for="s9"></label>
        <label for="s10"></label>
    </div>

    <div class="sh__arrows">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
        <label for="s6"></label>
        <label for="s7"></label>
        <label for="s8"></label>
        <label for="s9"></label>
        <label for="s10"></label>
    </div>


</div>
<div th:replace="~{layout/footer :: footer}"></div>