<div th:replace="~{layout/header :: header}"></div>
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Signup</h3>
                </div>
                <img src="/images/logo.png" class="mx-auto w-25">
                <div class="card-body">
                    <form th:action="@{signup}" th:object="${user}" method="POST">

                        <div class="form-group">
                            <input type="text" th:field="*{firstName}" placeholder="Nombre" class="form-control" >
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
                        </div>

                        <div class="form-group">
                            <input type="text" th:field="*{lastName}" placeholder="Apellido" class="form-control" >
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                        </div>

                        <div class="form-group">
                            <input type="text" th:field="*{userName}" placeholder="Nombre de Usuario" class="form-control" >
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></small>
                        </div>

                        <div class="form-group">
                            <input type="email" th:field="*{email}" placeholder="Email" class="form-control" >
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                        </div>

                        <div class="form-group">
                            <input type="password" th:field="*{password}" placeholder="Password" class="form-control" >
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary  btn-block">
                                Sign In
                            </button>
                        </div>


                    </form>
                </div>
            </div>
        </div>

    </div>
</div>



<div th:replace="~{layout/footer :: footer}"></div>