.imgLogo {
    max-width: 100%;
 }

 .navbar-brand {
     max-width: 15%;
 }

 .border-bottom {
     border-bottom: 3px solid #d6d5d5  !important;
 }

 #menuNavBar {
     width: 100%;
 }

 .imgSlider {
     max-width: 60%;
 }

 .sheetSlider {
     text-align: center;
     background-color: white;
 }

 .sh__meta span, .sh__meta h4 {
    color:rgb(85,85,85);
 }

 @media (min-width: 768px){
     .imglogo {
         max-width: 30%;
     }
 }