<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:fragment="header">

<head>
      <title>TODO supply a title</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/css/sheetslider.min.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>

<body>
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light 
                 bg-white border-bottom box-shadow mb-3">
            <div class="container">
                  <a class="navbar-brand" th:href="@{/}">
                        <img src="images/logo.png" class="imgLogo" />Encuestas
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon" aria-label="menuHamburger"></span>
                  </button>

                  <div id="menuNavBar">
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                              <ul th:if="${session.usersession !=null}" class="navbar-nav">
                                    <li class="nav-item">
                                          <a class="nav-link  text-dark">
                                                <div class="row">
                                                      Bienvenido:
                                                      <div th:text="${session.usersession}" ></div>
                                                      <div th:text="${session.usersession[3]}" ></div>
   
                                                </div>
                                          </a>
                                    </li>
                              </ul>
                              <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                          <a class="nav-link text-dark" th:href="@{/}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link text-dark" th:href="@{/login}">Login</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link text-dark" th:href="@{/signup}">Signup</a>
                                    </li>
                              </ul>
                        </div>
                  </div>
            </div>
      </nav>
</body>

</html>